@accent: #3d8ce0;


.form-area {
    margin-top: 80px;
    p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        &.small-p {
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.footer {
    bottom          : 0;
    width           : 100%;
    height          : 60px;
    line-height     : 60px;
    background-color: #232728;
}


.proof-table {
    background: #130D35;
    border-radius: 6px;
    padding: 40px;
    h2 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
    }
}
table {
    // border: 1px solid @accent;
    border-radius     : 8px;
    border-collapse   : separate;
    border-spacing    : 0;
    // overflow       : hidden;
    margin-bottom     : 60px;
    width: 100%;

    thead {
        tr {
            padding-bottom: 10px;
            th {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                padding-bottom: 10px;
                text-transform: uppercase;
                text-align: left;
                font-family: Work Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                /* identical to box height */


                color: #FFFFFF;

                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }

    }
    tbody {
        td {
            padding: 30px 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            &.trader {
                min-width: 130px;
            }
            button {
                height: 42px;
            }
            svg {
                vertical-align: middle;
                margin-right: 10px;
            }
            .asset-container {
                display: flex;
                margin-right: 20px;
                .desc {
                    margin-left: 20px;
                }
                .item-id {
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 14px;
                    /* identical to box height */
                    text-transform: uppercase;
                    color: #018FFF;
                    margin-bottom: 4px;

                }
                .item-name {
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    margin-top: 0px;
                    /* identical to box height */


                    color: #FFFFFF;
                }
            }
            img {
                width: 80px;
            }
        }
    }
}
.row {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    .col-sm {
        flex-basis: calc(50% - 20px);
    }
    .card {
        background-color: #130D35;
        //background-color: pink;
        border-radius: 6px;
        padding: 40px;
        height: 360px;

    }
    .card-header {
        color: #fff;
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
    }
    .card-body {
        p {
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.8;
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
        }
    }
}