<div class="container">
    <div class="jumbotron w-100">
        <h1 class="display-4 title">Proof Steam Trades</h1>
        <p class="lead">Verify trades without losing control of your API key</p>
        <hr class="my-4">
        <p>Put in your <a rel="noreferrer nofollow noopener" target="_blank" href="https://steamcommunity.com/dev/apikey">Steam API
                key</a> in order to generate a proof of trade.</p>
        <p>For the "domain name" field, you can put in tradeprover.com</p>
        <div class="input-area">
            <div class="label">Steam API key</div>
            <input [(ngModel)]="userkey" type="text" class="input-field" (keyup.enter)="get()"
                placeholder="Your API key here">
        </div>
        
        <button type="button" class="input-button" (click)="get()">Get trades</button>
    </div>

    <div *ngIf="tradeproof" class="alert alert-success proof" role="alert">
        Proof
        <hr />
        {{tradeproof}}
    </div>
    <div *ngIf="tradeproof" class="alert alert-warning" role="alert">
        It is recommended to revoke your API key after generating proof. This can be done <a
            rel="noreferrer nofollow noopener" href="https://steamcommunity.com/dev/apikey">here</a>.
    </div>
    <div *ngIf="trades" class="jumbotron-small">
        <!-- <p>Then, select the trade you'd like to verify:</p> -->
        <h2>Generate proof</h2>
        <div class="input-area">
            <div class="label">Find trade by Asset ID (optional)</div>
            <input [(ngModel)]="assetIdToProve" type="text" class="input-field" (keyup.enter)="get()"
                placeholder="Asset ID">
        </div>
        <table  class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Trader</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Items</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let trade of trades" [className] = "checkId(trade.assetIds) ? 'asset-found' : ''">
                    <td>You</td>
                    <td>{{ trade.otherPersonaName }}</td>
                    <td >
                        <p *ngFor="let asset of trade.assetIds">{{ asset.assetId }}</p>
                    </td>
                    <td>
                        <button type="button" class="input-button" (click)="proof(trade.id)">Generate proof</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-header">
                    How does it work?
                </div>
                <div class="card-body">
                    <p>This service will generate undisputable evidence for a given Steam trade.</p>
                    <p>The system works by using symmetrical encryption. The system asks for your trade history at Steam
                        using your API key, and encrypts the chosen trade with a key.
                        This key is unknown to other parties, and cannot be faked. We send you the encrypted text which
                        other parties can use to verify that you successfully traded your items.</p>
                    <p>Your information & API key are only used to get this information. <b>We do not save your API key
                            or your trades.</b> We only generate a proof.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-header">
                    Why use our service?
                </div>
                <div class="card-body">
                    <p>A screenshot of a trade is easily fakeable. Tech savvy people can easily edit the screenshot to
                        make it look like the trade happened, while it did not.</p>
                    <p>The system is fully <a rel="noreferrer nofollow noopener" href="https://github.com/yeahspang/tradeprover">open
                            source</a>, and will not save your API key or any other information personal information.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>