<div class="container">
    <div class="jumbotron w-100">
        <h1 class="display-4 title">Proof Steam Trades</h1>
        <p class="lead">Verify trades without losing control of your API key</p>
        <hr class="my-4">
        <p>Put in your <a rel="noreferrer nofollow noopener" href="https://steamcommunity.com/dev/apikey">Steam API
                key</a> in order to generate a proof of trade.</p>
        <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Steam API key</span>
            </div>
            <input [(ngModel)]="userkey" type="text" class="form-control" placeholder="Your api key here" aria-label="ApiKey"
                aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-primary" (click)="get()">Get trades</button> -->
        <div class="input-area">
            <div class="label">Steam API key</div>
            <input [(ngModel)]="userkey" type="text" class="input-field" (keyup.enter)="get()"
                placeholder="Your API key here">
            <button type="button" class="input-button" (click)="get()">Get trades</button>
        </div>
    </div>

    <div *ngIf="tradeproof" class="alert alert-success proof" role="alert">
        Proof
        <hr />
        {{tradeproof}}
    </div>
    <div *ngIf="tradeproof" class="alert alert-warning" role="alert">
        It is recommended to revoke your API key after generating proof. This can be done <a
            rel="noreferrer nofollow noopener" href="https://steamcommunity.com/dev/apikey">here</a>.
    </div>
    <table *ngIf="trades" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Trader</th>
                <th scope="col">Receiver</th>
                <th scope="col">Items</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trade of trades">
                <td>You</td>
                <td>{{ trade.steamid_other }}</td>
                <td>
                    <p *ngFor="let asset of trade.assetIds">{{ asset.assetId }}</p>
                </td>
                <td>
                    <button type="button" class="input-button" (click)="proof(trade.id)">Generate proof</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-header">
                    How does it work?
                </div>
                <div class="card-body">
                    <p>This service will help you proof that you've traded an item <b>without</b> losing control of your
                        API key.</p>
                    <p>The system works by using symmetrical encryption. The system asks for your trade history at Steam
                        using your API key, and encrypts the chosen trade with a key.
                        This key is unknown to other parties, and cannot be faked. We send you the encrypted text which
                        other parties can use to verify that you successfully traded your items.</p>
                    <p>Your information & API key are only used to get this information. <b>We do not save your API key
                            or your trades.</b> We only generate a proof.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-header">
                    Why use our service?
                </div>
                <div class="card-body">
                    <p>A screenshot of a trade is easily fakeable. Tech savvy people can easily edit the screenshot to
                        make it look like the trade happened, while it did not.</p>
                    <p>The system is fully <a rel="noreferrer nofollow noopener" href="https://github.com">open
                            source</a>, and will not save your API key or any other information personal information.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>