/* You can add global styles to this file, and also import other style files */

@accent: #abd3d6;

html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans JP', sans-serif; }


html, body {
    background-color: #1d2021;
}
.card {
    background-color: #232728;
    //background-color: pink;
    border-radius: 8px;
    border: 1px solid @accent;
}
.card-header {
    color: #232728;
    background-color: @accent;
    padding: 0.7rem 1.6rem;
}
.card-body {
    padding: 1.6rem;
}
.jumbotron {
    background-color: #232728;
}
* {
    color: #fff;
}
.proof {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.title {
    font-weight: 600;
    letter-spacing: 2px;
}

.input-area {
    position: relative;
    margin-top: 30px;
    .input-field {
        background: #232728;
        border: 1px solid @accent;
        padding: 0.6rem 1rem;
        border-radius: 8px;
    }
    
    
    .label {
        position: absolute;
        left: 0.5rem;
        top: -8px;
        line-height: 16px;
        font-size: 13px;
        color: #abd3d6;
        background: #232728 ;
        padding: 0 0.5rem;
    }
}
.input-button {
    padding: 0.6rem 1rem;
    background: #232728;
    border: 1px solid @accent;
    border-radius: 8px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}